<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span> First App</span>
    <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
  <mat-card-content>
    <h1>Login</h1>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary">Login</button>
  </mat-card-actions>
</mat-card>
